################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/TableMonitor/obj/Debug/TableMonitor.csproj.AssemblyReference.cache
/TableMonitor/obj/Debug/TableMonitor.exe
/TableMonitor/bin/Debug/TableMonitor.exe
/TableMonitor/bin/Debug/TableMonitor.exe.manifest
/TableMonitor/obj/Debug/TableMonitor.application
/TableMonitor/bin/Debug/TableMonitor.application
/TableMonitor/bin/Debug/TableMonitor.pdb
/.vs/TableMonitor/v17/.suo
/.vs/TableMonitor/v17/DocumentLayout.backup.json
/.vs/TableMonitor/v17/DocumentLayout.json
/TableMonitor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TableMonitor/obj/Debug/TableMonitor.csproj.GenerateResource.cache
/TableMonitor/obj/Debug/TableMonitor.csproj.CoreCompileInputs.cache
/TableMonitor/obj/Debug/TableMonitor.csproj.FileListAbsolute.txt
/TableMonitor/obj/Debug/TableMonitor.exe.manifest
/TableMonitor/obj/Debug/TableMonitor.pdb
/.vs/TableMonitor/FileContentIndex/16fa0925-f740-4866-85a6-4d71288329b2.vsidx
*.deploy
