################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/TableMonitor/obj/Debug/TableMonitor.csproj.AssemblyReference.cache
/TableMonitor/obj/Debug/TableMonitor.exe
/TableMonitor/bin/Debug/TableMonitor.exe
/TableMonitor/bin/Debug/TableMonitor.exe.manifest
